<div class="order-card" data-controller="order-card" data-order-card-target="card" id="card-<%= item_order.item.id %>" data-tableroom-id="<%= @table.id %>">
  <div class="order-card-content">
    <div class="title-plus-minus">
      <h2><%= item_order.item.name %></h2>
      <p class="d-flex align-self-center">
        <% if item_order.present? && item_order.quantity > 1 %>
          <%= link_to table_item_order_path(table_id: table, id: item_order.id, quantity: -1), method: :patch,
                      data: {
                        order_card_target: 'minusButton',
                        action: 'click->order-card#minus'
                      } do %>
            <i class="fa-solid fa-circle-minus" id="plus-minus-button"></i>
          <% end %>
        <% else %>
          <%= link_to table_item_order_path(table_id: table, id: item_order.id), method: :delete,
                      data: {
                        order_card_target: 'deleteButton',
                        action: 'click->order-card#destroy'
                      } do %>
            <i class="fa-solid fa-circle-minus" id="plus-minus-button"></i>
          <% end %>
        <% end %>
        <%=item_order.quantity%>
        <%= link_to table_item_order_path(table_id: table, id: item_order.id, quantity: 1), method: :patch,
                    data: {
                      order_card_target: 'plusButton',
                      action: 'click->order-card#plus'
                    } do %>
          <i class="fa-solid fa-circle-plus" id= "plus-minus-button"></i>
        <% end %>
      </p>
    </div>
    <div class="order-category-name-price">
      <h6><span class="item-order-price"><%= (item_order.item.price * item_order.quantity).round(2) %></span> €</h6>
    </div>
  </div>
</div>
