<div class="wrapper">
  <%= render 'shared/navbar' %>
  <div>
    <div class= "banner_summary_page">
        <h1>Payment method
        </h1>
    </div>
    <div class="m-4">
      <section class="payment-btn-container">
        <%= link_to "WAITER", table_waiter_path, class: 'payment-buttons'%>
        <%= link_to "DESK", "#", class: 'payment-buttons'%>
        <%= link_to "CARD", "#", class: 'payment-buttons'%>
      </section>
    </div>
  </div>

  <section class="checkout-footer m-4">
    <h2><strong>Total:</strong></h2>
    <h2><strong><%= @all_items_total_price %> €</strong></h2>
  </section>
</div>
