<div class="wrapper">
  <%= render 'shared/navbar' %>
  <div>
    <div class= "banner_summary_page">
        <h1>Choose your payment method
        </h1>
    </div>
    <div class="m-4">
      <section class="payment-btn-container">
        <%= link_to "WAITER", table_waiter_path, class: 'payment-buttons'%>
        <div class="double-arr-1">
         <%= link_to table_waiter_path do %>
          <i style= "color:white;" class="fa-solid fa-angles-right"></i>
          <% end %>
        </div>
        <%= link_to "CASHIER", "#", class: 'payment-buttons'%>
        <div class="double-arr-2">
          <%= link_to table_card_path do %>
          <i style= "color:white;" class="fa-solid fa-angles-right"></i>
          <% end %>
        </div>
        <%= link_to "CARD", table_card_path, class: 'payment-buttons'%>
        <div class="double-arr-3">
           <%= link_to  table_card_path do %>
          <i style= "color:white;" class="fa-solid fa-angles-right"></i>
           <% end %>
        </div>
      </section>
    </div>
  </div>

  <section class="checkout-footer m-4">
    <h2><strong>Total:</strong></h2>
    <h2><strong><%= @all_items_total_price %> €</strong></h2>
  </section>
</div>

