<% @categories.each do |category| %>
  <h1><%= category.capitalize.pluralize(2) %></h1>
    <% @items.where("category = '#{category}'").each do |item| %>
      <div class="dish-card" data-controller="dish-card" data-dish-card-target="card">
          <div class="dish-picture" style="background-image: url('<%= item.image_url %>');" >
            <p><i class="fa-regular fa-star"></i> 9.7</p>
          </div>
          <div class="dish-card-content">
            <div class="title-plus-minus">
              <h2><%= item.name %></h2>
              <p><i class="fa-solid fa-circle-minus"></i> 1 <i class="fa-solid fa-circle-plus"></i></p>
            </div>
            <p class="toggle-paragraph" data-action="click->dish-card#revealDescription" data-dish-card-target="description"><%= item.description %></p>
            <h6 class="price"><%= item.price %></h6>
          </div>
      </div>
    <% end %>
<% end %>
