<% @categories.each do |category| %>
  <h3><%= category %></h3>
  <% @items.where("category = '#{category}'").each do |item| %>
    <h4><%= item.name %></h4>
    <p><%= item.category %></p>
    <p><%= item.description %></p>
    <p><%= item.price %></p>
  <% end %>
<% end %>
