<% @categories.each do |category| %>
  <h1 class="h1-dish-card"><%= category.capitalize.pluralize(2) %></h1>
    <% @items.where("category = '#{category}'").each do |item| %>
      <div class="dish-card" data-controller="dish-card" data-dish-card-target="card">
          <div class="dish-picture" style="background-image: url('<%= item.image_url %>');" >
            <p><i class="fa-regular fa-star"></i> 9.7</p>
          </div>
          <div class="dish-card-content">
            <div class="title-plus-minus">
              <h2><%= item.name %></h2>
              <p>
                <% item_order = ItemOrder.find_by(item_id: item.id, order_id: session[:order_id]) %>
                <% if item_order.present? && item_order.quantity > 1 %>
                  <%= link_to decrease_item_path(item_order.id) do %>
                    <i class="fa-solid fa-circle-minus"></i>
                  <% end %>
                <% else %>
                  <%= link_to item_order_path(item.id), method: :delete do %>
                    <i class="fa-solid fa-circle-minus"></i>
                  <% end %>
                <% end %>
                <%= item_order.present? ? item_order.quantity : 0 %>
                <% if item_order.present? %>
                  <%= link_to add_item_path(item_order.id) do %>
                    <i class="fa-solid fa-circle-plus"></i>
                  <% end %>
                <% else %>
                  <%= link_to item_item_orders_path(item), method: :post do %>
                    <i class="fa-solid fa-circle-plus"></i>
                  <% end %>
                <% end %>
              </p>
            </div>
            <p class="toggle-paragraph" data-action="click->dish-card#revealDescription" data-dish-card-target="description"><%= item.description %></p>
            <h6 class="price"><%= item.price %></h6>
          </div>
      </div>
    <% end %>
<% end %>

  <%= render "shared/basket_button" %>
  <div class="button-background-colour">
  </div>
